<h1>Page d'accueil</h1>
<p>Il est <span id="horloge"></span></p>

<section class="home">
    <img src="images/main_logo.png" alt="Logo du site" class="logo">
    <div class="desc">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta fugit qui, est, dignissimos perspiciatis laudantium praesentium mollitia magnam voluptatum ullam esse exercitationem temporibus. Molestias a animi minima maxime, quae eaque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut est quia sunt quaerat nisi illum tenetur recusandae sapiente iure soluta minima laudantium omnis sed, error veritatis tempore temporibus ipsa veniam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste pariatur vero, optio fuga quod totam fugit beatae eum! Veritatis, rerum eos corporis laboriosam reiciendis ratione soluta illum modi id minima?</p>
    </div>
</section>


<script defer src="/js/horloge.js"></script>