<h1>Page d'accueil</h1>

<img src="images/main_logo.png" alt="Logo du site" >
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos soluta sequi similique, optio, nostrum atque deleniti temporibus quas minima ipsum numquam ea, vel perspiciatis! Quam accusamus hic velit dolorum illum?</p>

<div id="horloge"></div>
<script defer src="/js/horloge.js"></script>